.categories_form {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding-bottom: 20px;
    width: 40vw;
    height: 70vh;
    background-color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .textField {
    width: 90%;
  }
  .addBtn {
    margin-top: 20px;
    width: 75%;
    height:50px ;
  }
  